@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');

.bghTop{
    background-color: #c70000;
    height: 1.9em;
    
}
.nav {

    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline;
    font-size: 16px;
    padding-top: 0.3em;
    color: white;
    font-family: 'Teko', sans-serif;
    letter-spacing: 0.1px;

  }
.left{

    margin-left: 16%;
}
.middle{
    margin-left: 7%;
}
.right{
    margin-left: 28%;

}
.space{
    margin-left: 20px;
}